{%- assign ss = section.settings -%}
<style>
    .autumn-sale-community-video {
        padding: 58px 0 40px;
        background-color: #f9f7f6;
    }

    .autumn-sale-community-video .autumn-content {
        max-width: 1376px;
        box-sizing: border-box;
        padding: 0 48px;
        margin: 0 auto;
    }

    .autumn-sale-community-video .autumn-content .slider {
        padding-inline: 0;
        margin-inline: 0;
        scroll-padding-inline: 0;
        padding-block-end: 0;
    }

    .autumn-sale-community-video .autumn-content .card-grid {
        --slider-item-width: 414px;
        gap: 0 19px;
    }

    .autumn-sale-community-video .autumn-content .slider-item {
        border-radius: 10px;
        background-color: #ffffff;
    }

    .autumn-sale-community-video .autumn-content .slider-item .media {
        width: 100%;
        height: 235px;
        object-fit: cover;
        border-radius: 0;
    }

    .autumn-sale-community-video .autumn-content .slider-item .media[playing] .deferred-poster .play-button {
        opacity: 0;
    }

    .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster {
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
    }

    .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster .play-button {
        width: 100%;
        height: auto;
        background: none;
        inset-inline: 0;
        inset-block: 0;
    }

    .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster .play-button .icon {
        width: 70px;
        height: 48px;
    }

    .autumn-sale-community-video .autumn-content .media-info {
        box-sizing: border-box;
        height: 208px;
        padding: 18px 55px 0 15px;
    }

    .autumn-sale-community-video .autumn-content .media-info .intro, .autumn-sale-community-video .autumn-content .media-info .name {
        color: #333333;
    }

    .autumn-sale-community-video .autumn-content .media-info .intro {
        font-size: 16px;
    }

    .autumn-sale-community-video .autumn-content .media-info .user {
        left: 15px;
        bottom: 20px;
    }

    .autumn-sale-community-video .autumn-content .media-info .user .image {
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }

    .autumn-sale-community-video .autumn-content .media-info .name {
        font-size: 14px;
        padding-left: 10px;
        max-width: 320px;
        word-break: break-word;
    }

    .autumn-sale-community-video .slideshow-control {
        padding-top: 34px;
    }

    .autumn-sale-community-video .slideshow-control .flickity-page-dots {
        margin-block: 0;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots {
        gap: 0 30px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .button {
        --buttons-width: 46px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .button .btn-text .icon {
        width: 32px;
        height: 32px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .indicators {
        gap: 0 11px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot {
        width: 40px;
        margin: 0 5px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot:before {
        height: 4px;
        width: 40px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot[aria-current=true] {
        width: 80px;
    }

    .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot[aria-current=true]:before {
        width: 80px;
    }

    @media screen and (max-width: 1376px) {
        .autumn-sale-community-video {
            padding: 49.3px 0 34px;
        }

        .autumn-sale-community-video .autumn-content {
            padding: 0 36px;
        }
        .autumn-sale-community-video .autumn-content .slider {
            scroll-padding-inline: var(--page-padding);
            padding-block-end: var(--card-shadow-vertical-offset);
        }
        .autumn-sale-community-video .autumn-content .card-grid {
            --slider-item-width: calc((100% - 40px) / 3);
        }

        .autumn-sale-community-video .autumn-content .slider-item {
            border-radius: 8.5px;
        }

        .autumn-sale-community-video .autumn-content .slider-item .media {
            height: 17.0784883721vw;
        }

        .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster {
            width: 59.5px;
        }

        .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster .play-button .icon {
            width: 59.5px;
            height: 40.8px;
        }

        .autumn-sale-community-video .autumn-content .media-info {
            height: 176.8px;
            padding: 15.3px 46.75px 0 12.75px;
        }

        .autumn-sale-community-video .autumn-content .media-info .name {
            max-width: 272px;
        }

        .autumn-sale-community-video .slideshow-control {
            padding-top: 28.9px;
        }
    }

    @media screen and (max-width: 1023px) {
        .autumn-sale-community-video {
            padding: 1.5190972222rem 0 1.953125rem;
        }

        .autumn-sale-community-video .autumn-content {
            max-width: 100%;
            padding: 0;
        }

        .autumn-sale-community-video .autumn-content .card-grid {
            --slider-item-width: 63.148vw;
            gap: 0 0.6944444444rem;
            padding-left: 0.8680555556rem;
            padding-right: 50vw;
        }

        .autumn-sale-community-video .autumn-content .slider-item {
            border-radius: 0.1736111111rem;
        }

        .autumn-sale-community-video .autumn-content .slider-item .media {
            height: 35.2777777778vw;
        }

        .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster {
            width: 2.4739583333rem;
        }

        .autumn-sale-community-video .autumn-content .slider-item .media .deferred-poster .play-button .icon {
            width: 2.4739583333rem;
            height: 1.7578125rem;
        }

        .autumn-sale-community-video .autumn-content .media-info {
            box-sizing: border-box;
            height: 7.421875rem;
            padding: 0.7378472222rem 1.953125rem 0 0.5208333333rem;
        }

        .autumn-sale-community-video .autumn-content .media-info .intro {
            font-size: 0.5642361111rem;
        }

        .autumn-sale-community-video .autumn-content .media-info .user {
            left: 0.5208333333rem;
            bottom: 0.7378472222rem;
        }

        .autumn-sale-community-video .autumn-content .media-info .user .image {
            width: 1.3237847222rem;
            height: 1.3237847222rem;
        }

        .autumn-sale-community-video .autumn-content .media-info .name {
            font-size: 0.4991319444rem;
            padding-left: 0.4557291667rem;
            max-width: 11.2847222222rem;
        }

        .autumn-sale-community-video .slideshow-control {
            padding-top: 1.3237847222rem;
            justify-content: center;
        }

        .autumn-sale-community-video .slideshow-control .flickity-page-dots {
            margin-block: 0;
        }

        .autumn-sale-community-video .slideshow-control .tw-mobile--dots {
            gap: 0;
        }

        .autumn-sale-community-video .slideshow-control .tw-mobile--dots .indicators {
            display: none;
        }

        .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot {
            width: 1.3020833333rem;
            height: 0.3255208333rem;
            margin: 0 0.6510416667rem;
        }

        .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot:before {
            width: 1.3020833333rem;
            height: 0.3255208333rem;
        }

        .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot[aria-current=true] {
            width: 2.6041666667rem;
        }

        .autumn-sale-community-video .slideshow-control .tw-mobile--dots .flickity-page-dot[aria-current=true]:before {
            width: 2.6041666667rem;
        }
    }
    {% render 'ndev-page-wrap-style', info: ss, class: '.autumn-sale-community-video' %}
</style>
<div class="autumn-sale-community-video w-full">
    <div class="autumn-content w-full">
        <slider-element id="Slider-{{ section.id }}" class="grid slider slider--desktop slider--tablet"
                        selector=".card-grid>.slider-item">
            <motion-list class="card-grid card-grid--3 mobile:card-grid--1 grid">
                {%- for block in section.blocks -%}
                    {%- assign bs = block.settings -%}
                    <div class="slider-item card tw-relative tw-overflow-hidden">
                        {%- capture sizes -%}{% if bs.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
                        {%- if bs.video_mobile or bs.video_url_mobile -%}
                            {%- render 'video',
                                    sizes: sizes,
                                    video: bs.video_mobile,
                                    video_url: bs.video_url_mobile,
                                    muted: bs.enable_video_autoplay,
                                    autoplay: bs.enable_video_autoplay,
                                    loop: bs.enable_video_looping,
                                    description: bs.description,
                                    cover_image: bs.cover_image_mobile,
                                    show_play_button: true,
                                    is_mobile: true,
                                    controls: true,
                                    class: 'media media--height w-full h-full relative'
                            -%}
                        {%- endif -%}
                        {%- render 'video',
                                sizes: sizes,
                                video: bs.video,
                                video_url: bs.video_url,
                                muted: bs.enable_video_autoplay,
                                autoplay: bs.enable_video_autoplay,
                                loop: bs.enable_video_looping,
                                description: bs.description,
                                cover_image: bs.cover_image,
                                show_youtube_button: true,
                                controls: true,
                                class: 'media media--height w-full h-full relative'
                        -%}
                        <div class="media-info tw-relative">
                            <div class="intro tw-leading-normal">{{ bs.content }}</div>
                            {% if bs.avatar and bs.author %}
                                <div class="user tw-absolute flex-left">
                                    {{ bs.avatar | image_url: width: '48' | image_tag: class: 'image', width: '48' }}
                                    <span class="name tw-leading-[1.2]">{{ bs.author }}</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {%- endfor -%}
            </motion-list>
        </slider-element>
        <div class="slideshow-control w-full flex-right">
            <div class="tw-mobile--dots flex-center">
                <slider-dots class="flickity-page-dots w-auto pointer-events-auto"
                             aria-controls="Slider-{{ section.id }}">
                    {%- for i in (1..section.blocks.size) -%}
                        <button type="button" class="flickity-page-dot" data-index="{{ i }}"
                                aria-current="{% if forloop.first %}true{% else %}false{% endif %}">
                            <span class="sr-only">{{ 'general.pagination.page' | t: number: forloop.index }}</span>
                        </button>
                    {%- endfor -%}
                </slider-dots>
                <div class="tw-slider-pointers flex-center indicators">
                    <button class="button button--secondary" type="button" is="previous-button"
                            aria-controls="Slider-{{ section.id }}"
                            aria-label="{{ 'general.pagination.previous' | t | escape }}" disabled tabindex="-1">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                            {%- render 'icon', icon: 'chevron-left', class: 'stroke-2 transform' -%}
                        </span>
                    </button>
                    <button class="button button--secondary" type="button" is="next-button"
                            aria-controls="Slider-{{ section.id }}"
                            aria-label="{{ 'general.pagination.next' | t | escape }}" tabindex="-1">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                            {%- render 'icon', icon: 'chevron-right', class: 'stroke-2 transform' -%}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Autumn Sale Video",
  "class": "shopify-bike-main",
  "tag": "section",
  "presets": [
    {
      "name": "autumn-sale-video"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#f9f7f6"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "YouTube Channel"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.video.settings.header__video.content"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.video.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.video.settings.header__video_url.content",
          "info": "t:sections.video.settings.header__video_url.info"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "t:sections.video.settings.cover_image.label"
        },
        {
          "type": "text",
          "id": "description",
          "label": "t:sections.video.settings.description.label",
          "info": "t:sections.video.settings.description.info"
        },
        {
          "type": "checkbox",
          "id": "enable_video_autoplay",
          "label": "t:sections.video.settings.enable_video_autoplay.label",
          "info": "t:sections.video.settings.enable_video_autoplay.info",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "enable_video_looping",
          "label": "t:sections.video.settings.enable_video_looping.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__mobile.content"
        },
        {
          "type": "video",
          "id": "video_mobile",
          "label": "t:sections.video.settings.video_mobile.label"
        },
        {
          "type": "video_url",
          "id": "video_url_mobile",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "label": "t:sections.video.settings.video_url_mobile.label",
          "info": "t:sections.video.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "cover_image_mobile",
          "label": "t:sections.video.settings.cover_image_mobile.label"
        },
        {
          "type": "header",
          "content": "Content settings"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "1,194 people have given this bike a 4.5 star rating"
        },
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Electric Revolution"
        }
      ]
    }
  ]
}
{% endschema %}
