{% assign ss = section.settings %}
<style>
    .autumn-sale-countdown {
        padding: 25px 0;
        background-color: #f5f0ed;
    }

    .autumn-sale-countdown .title {
        color: #000000;
        padding-bottom: 18px;
    }

    .autumn-sale-countdown .countdown {
        gap: 43px;
    }

    .autumn-sale-countdown .countdown .countdown-item {
        width: 84px;
    }

    .autumn-sale-countdown .countdown .countdown-item:first-of-type:before {
        display: block;
    }

    .autumn-sale-countdown .countdown .countdown-item:before {
        content: ":";
        font-size: 48px;
        font-weight: 900;
        color: #000000;
        position: absolute;
        right: -30px;
        top: 36px;
        transform: translateY(-50%);
        display: none;
    }

    .autumn-sale-countdown .countdown .num {
        width: 100%;
        height: 82px;
        background-color: #000000;
        border-radius: 16px;
        color: #ffffff;
        font-size: 49px;
        font-weight: 900;
        text-align: center;
        box-sizing: border-box;
        line-height: 82px;
        border: 0 none;
    }

    .autumn-sale-countdown .countdown .name {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        color: #000000;
        text-align: center;
        padding-top: 8px;
    }

    @media screen and (max-width: 1023px) {
        .autumn-sale-countdown {
            padding: 1.0416666667rem 0;
        }

        .autumn-sale-countdown .title {
            font-size: 0.6944444444rem;
            padding-bottom: 0.78125rem;
        }

        .autumn-sale-countdown .countdown {
            gap: 1.4756944444rem;
        }

        .autumn-sale-countdown .countdown .countdown-item {
            width: 2.9079861111rem;
        }

        .autumn-sale-countdown .countdown .countdown-item:before {
            font-size: 1.6927083333rem;
            right: -0.9982638889rem;
            top: 1.2586805556rem;
        }

        .autumn-sale-countdown .countdown .num {
            height: 2.8428819444rem;
            border-radius: 0.2821180556rem;
            font-size: 1.6927083333rem;
            line-height: 2.8428819444rem;
        }

        .autumn-sale-countdown .countdown .name {
            font-size: 0.5642361111rem;
            padding-top: 0.3472222222rem;
        }
    }
</style>
<div class="autumn-sale-countdown w-full" id="{{ section.id }}-countdown">
    {%- if ss.show_heading -%}
        <div class="title tw-text-center tw-text-base tw-font-bold">{{ ss.heading }}</div>
    {%- endif -%}
    {%- assign countdown = section.blocks | where: 'type', 'countdown' | first -%}
    {%- if countdown != blank -%}
        {%- assign bs = countdown.settings -%}
        <div class="countdown flex-center">
            <div class="countdown-item tw-relative flex-center-col">
                <input node-name="day" disabled type="text" class="num" value="00">
                <div class="name">{{ bs.day }}</div>
            </div>
            <div class="countdown-item tw-relative flex-center-col">
                <input node-name="hour" disabled type="text" class="num" value="00">
                <div class="name">{{ bs.hour }}</div>
            </div>
            <div class="countdown-item tw-relative flex-center-col">
                <input node-name="minute" disabled type="text" class="num" value="00">
                <div class="name">{{ bs.minute }}</div>
            </div>
            <div class="countdown-item tw-relative flex-center-col">
                <input node-name="second" disabled type="text" class="num" value="00">
                <div class="name">{{ bs.second }}</div>
            </div>
        </div>
    {%- endif -%}
</div>
{%- if countdown != blank -%}
    <script>
        (function () {
            const node = document.getElementById('{{ section.id }}-countdown');
            const nodeList = $heybike.getNodeList(node);
            const MILLISECONDS_SECOND = 1000;
            const MILLISECONDS_MINUTE = 60 * MILLISECONDS_SECOND;
            const MILLISECONDS_HOUR = 60 * MILLISECONDS_MINUTE;
            const MILLISECONDS_DAY = 24 * MILLISECONDS_HOUR;
            let count = 0,
                timeout = null;
            const getDoubleDigit = (val) => {
                if (val < 10) {
                    return `0${val}`;
                }
                return val;
            };

            const formatTime = () => {
                const days = Math.max(0, Math.floor(count / MILLISECONDS_DAY));
                const hours = Math.max(0, Math.floor((count % MILLISECONDS_DAY) / MILLISECONDS_HOUR));
                const minutes = Math.max(0, Math.floor((count % MILLISECONDS_HOUR) / MILLISECONDS_MINUTE));
                const seconds = Math.max(0, Math.floor((count % MILLISECONDS_MINUTE) / MILLISECONDS_SECOND));
                nodeList.day.value = getDoubleDigit(days);
                nodeList.hour.value = getDoubleDigit(hours);
                nodeList.minute.value = getDoubleDigit(minutes);
                nodeList.second.value = getDoubleDigit(seconds);
            };
            const startTimer = () => {
                const interval = 1000;
                timeout = setInterval(() => {
                    count -= interval;
                    formatTime();
                    if (count <= 0) {
                        clearInterval(timeout);
                    }
                }, interval);
            };

            const storeNow = new Date("{{ 'now' | date: '%Y-%m-%dT%H:%M:%S' }}").getTime(); // 初始店铺时间
            const date = new Date("{{ countdown.settings.end_date }}");// 目标时间
            count = date.getTime() - storeNow;
            if (count > 0) {
                startTimer();
            }
        })();
    </script>
{%- endif -%}
{% schema %}
{
  "name": "Autumn Sale Countdown",
  "class": "shopify-bike-main",
  "tag": "section",
  "presets": [
    {
      "name": "autumn-sale-countdown"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#f5f0ed"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "SALE ENDS IN:"
    }
  ],
  "blocks": [
    {
      "type": "countdown",
      "name": "Countdown",
      "settings": [
        {
          "type": "text",
          "id": "end_date",
          "label": "Countdown end time",
          "default": "2025-12-30 12:01:01",
          "info": "Format: yyyy-MM-dd HH:mm:ss"
        },
        {
          "type": "text",
          "id": "day",
          "label": "Day",
          "default": "Days"
        },
        {
          "type": "text",
          "id": "hour",
          "label": "Hour",
          "default": "Hours"
        },
        {
          "type": "text",
          "id": "minute",
          "label": "Minute",
          "default": "Mins"
        },
        {
          "type": "text",
          "id": "second",
          "label": "Second",
          "default": "Secs"
        }
      ]
    }
  ]
}
{% endschema %}
