{% assign ss = section.settings %}
<style>
    .autumn-sale-product-list {
        padding: 40px 0;
        background-color: #f9f7f6;
    }

    .autumn-sale-product-list .title {
        font-size: 36px;
        line-height: 1.2;
        color: #000000;
        padding-bottom: 45px;
    }

    .autumn-sale-product-list .autumn-content {
        max-width: 1376px;
        box-sizing: border-box;
        padding: 0 48px;
        margin: 0 auto;
        --card-grid-gap: 20px 19px;
    }

    .autumn-sale-product-list ._product-card {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-radius: 15px;
    }

    .autumn-sale-product-list ._product-card .product-cover .tag-list {
        position: absolute;
        top: 14px;
        left: 17px;
        gap: 0 10px;
    }

    .autumn-sale-product-list ._product-card .product-cover .tag {
        font-size: 14px;
        color: #444444;
        line-height: 1;
        padding: 5px 10px;
        border-radius: 4px;
        border: solid 1px #222222;
    }

    .autumn-sale-product-list ._product-card .product-cover > .image {
        width: 100%;
        height: 290px;
        object-fit: cover;
    }

    .autumn-sale-product-list ._product-card .text-items {
        padding: 30px 0 26px;
        gap: 30px 0;
        flex-wrap: wrap;
    }

    .autumn-sale-product-list ._product-card .text-items .text-item {
        width: 50%;
        box-sizing: border-box;
        padding-left: 14px;
    }

    .autumn-sale-product-list ._product-card .text-items .text-item:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #444444;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    .autumn-sale-product-list ._product-card .text-items .text-item .num,
    .autumn-sale-product-list ._product-card .text-items .text-item .text {
        line-height: 1.2;
    }

    .autumn-sale-product-list ._product-card .text-items .text-item .num {
        font-size: 16px;
        color: #444444;
    }

    .autumn-sale-product-list ._product-card .text-items .text-item .text {
        padding-top: 1px;
        font-size: 12px;
        color: #999999;
    }

    .autumn-sale-product-list ._product-card .product-info {
        box-sizing: border-box;
        padding: 10px 19px 30px;
    }

    .autumn-sale-product-list ._product-card .product-info .product-name {
        font-size: 20px;
        color: #000000;
        line-height: 1.2;
        padding-bottom: 6px;
    }

    .autumn-sale-product-list ._product-card .product-info .product__rating .rating-text, .autumn-sale-product-list ._product-card .product-info .product__rating .rating-count {
        font-size: 14px;
        color: #999999;
    }

    .autumn-sale-product-list ._product-card .product-info .product__rating .icon-star {
        width: 17px;
        height: 16px;
    }

    .autumn-sale-product-list ._product-card .product-info .price-box {
        height: 32px;
    }

    .autumn-sale-product-list ._product-card .product-info .price-box .price {
        font-size: 28px;
        line-height: 1.1;
        color: #ff981d;
    }

    .autumn-sale-product-list ._product-card .product-info .price-box .original-price {
        font-size: 16px;
        color: #6c6c6c;
        text-decoration: line-through;
        padding-left: 10px;
    }

    .autumn-sale-product-list ._product-card .product-info .pay-discount {
        font-size: 14px;
        color: #6c6c6d;
        line-height: 26px;
        height: 26px;
    }

    .autumn-sale-product-list ._product-card .product-info .pay-discount .image {
        max-height: 100%;
        width: auto;
        object-fit: contain;
        margin-left: 12px;
    }

    .autumn-sale-product-list ._product-card .product-info .btn-group {
        padding-top: 23px;
    }

    .autumn-sale-product-list ._product-card .product-info .btn-group .button {
        padding: 0;
        width: calc(50% - 6px);
        height: 39px;
        font-size: 13px;
        color: #ffffff;
        transition: background 0.5s ease-in-out;
    }

    .autumn-sale-product-list ._product-card .product-info .btn-group .button:hover {
        background: #000000;
    }

    .autumn-sale-product-list ._product-card .product-info .btn-group .button.more {
        background: none;
        box-shadow: inset 0 0 0 1px #000000;
        color: #000000;
    }

    .autumn-sale-product-list ._product-card .product-info .btn-group .button.more:hover {
        background: #000000;
        color: #ffffff;
    }

    @media screen and (max-width: 1376px) {
        .autumn-sale-product-list {
            padding: 34px 0;
        }

        .autumn-sale-product-list .title {
            font-size: 30.6px;
            padding-bottom: 38.25px;
        }

        .autumn-sale-product-list .autumn-content {
            padding: 0 30.6px;
        }

        .autumn-sale-product-list ._product-card {
            border-radius: 12.75px;
        }

        .autumn-sale-product-list ._product-card .product-cover .tag-list {
            top: 11.9px;
            left: 14.45px;
            gap: 0 8.5px;
        }

        .autumn-sale-product-list ._product-card .product-cover .tag {
            font-size: 12px;
            padding: 4.25px 8.5px;
            border-radius: 3.4px;
        }

        .autumn-sale-product-list ._product-card .product-cover > .image {
            height: 21.0755813953vw;
        }

        .autumn-sale-product-list ._product-card .text-items {
            padding: 25.5px 0 22.1px;
            gap: 25.5px 0;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item {
            padding-left: 11.9px;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item:before {
            width: 6.8px;
            height: 6.8px;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item .num {
            font-size: 14px;
        }

        .autumn-sale-product-list ._product-card .product-info {
            padding: 8.5px 16.15px 25.5px;
        }

        .autumn-sale-product-list ._product-card .product-info .product-name {
            font-size: 17px;
            padding-bottom: 5.1px;
        }

        .autumn-sale-product-list ._product-card .product-info .product__rating .rating-text, .autumn-sale-product-list ._product-card .product-info .product__rating .rating-count {
            font-size: 12px;
        }

        .autumn-sale-product-list ._product-card .product-info .product__rating .icon-star {
            width: 14.45px;
            height: 13.6px;
        }

        .autumn-sale-product-list ._product-card .product-info .price-box {
            height: 27.2px;
        }

        .autumn-sale-product-list ._product-card .product-info .price-box .price {
            font-size: 23.8px;
        }

        .autumn-sale-product-list ._product-card .product-info .price-box .original-price {
            font-size: 13.6px;
            padding-left: 8.5px;
        }

        .autumn-sale-product-list ._product-card .product-info .pay-discount {
            font-size: 12px;
            line-height: 22.1px;
            height: 22.1px;
        }

        .autumn-sale-product-list ._product-card .product-info .pay-discount .image {
            margin-left: 10.2px;
        }

        .autumn-sale-product-list ._product-card .product-info .btn-group {
            padding-top: 19.55px;
        }

        .autumn-sale-product-list ._product-card .product-info .btn-group .button {
            height: 33.15px;
            font-size: 12px;
        }
    }

    @media screen and (max-width: 1023px) {
        .autumn-sale-product-list {
            padding: 0.8680555556rem 0;
        }

        .autumn-sale-product-list .title {
            font-size: 0.8680555556rem;
            padding-bottom: 1.0416666667rem;
        }

        .autumn-sale-product-list .autumn-content {
            max-width: 100%;
            padding: 0;
        }

        .autumn-sale-product-list .autumn-content .slider {
            padding-inline: 0;
            margin-inline: 0;
            scroll-padding-inline: 0;
            padding-block-end: 0;
        }

        .autumn-sale-product-list .autumn-content .card-grid {
            --slider-item-width: 82.4074vw;
            gap: 0;
            padding-right: 80vw;
        }

        .autumn-sale-product-list .product-item {
            padding-left: 3.3333333333vw;
        }

        .autumn-sale-product-list ._product-card {
            border-radius: 0.4340277778rem;
        }

        .autumn-sale-product-list ._product-card .product-cover .tag-list {
            top: 0.6076388889rem;
            left: 0.7595486111rem;
            gap: 0 0.4557291667rem;
        }

        .autumn-sale-product-list ._product-card .product-cover .tag {
            font-size: 0.6076388889rem;
            padding: 0.2604166667rem 0.4774305556rem;
            border-radius: 0.1736111111rem;
        }

        .autumn-sale-product-list ._product-card .product-cover > .image {
            height: 52.962962963vw;
        }

        .autumn-sale-product-list ._product-card .text-items {
            padding: 1.2152777778rem 0 1.0416666667rem;
            gap: 1.3020833333rem 0;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item {
            padding-left: 0.6076388889rem;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item:before {
            width: 0.3038194444rem;
            height: 0.3038194444rem;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item .num {
            font-size: 0.6944444444rem;
        }

        .autumn-sale-product-list ._product-card .text-items .text-item .text {
            padding-top: 0.0651041667rem;
            font-size: 0.5208333333rem;
        }

        .autumn-sale-product-list ._product-card .product-info {
            padding: 0.5208333333rem 0.8246527778rem 1.3020833333rem;
        }

        .autumn-sale-product-list ._product-card .product-info .product-name {
            font-size: 0.8463541667rem;
            padding-bottom: 0.5208333333rem;
        }

        .autumn-sale-product-list ._product-card .product-info .product__rating .rating-text, .autumn-sale-product-list ._product-card .product-info .product__rating .rating-count {
            font-size: 0.6076388889rem;
        }

        .autumn-sale-product-list ._product-card .product-info .product__rating .icon-star {
            width: 0.7161458333rem;
            height: 0.6727430556rem;
        }

        .autumn-sale-product-list ._product-card .product-info .price-box {
            height: 1.3237847222rem;
        }

        .autumn-sale-product-list ._product-card .product-info .price-box .price {
            font-size: 1.1935763889rem;
        }

        .autumn-sale-product-list ._product-card .product-info .price-box .original-price {
            font-size: 0.6944444444rem;
            padding-left: 0.4340277778rem;
        }

        .autumn-sale-product-list ._product-card .product-info .pay-discount {
            font-size: 0.6076388889rem;
            line-height: 1.1284722222rem;
            height: 1.1284722222rem;
        }

        .autumn-sale-product-list ._product-card .product-info .pay-discount .image {
            margin-left: 0.6076388889rem;
        }

        .autumn-sale-product-list ._product-card .product-info .btn-group {
            padding-top: 0.9982638889rem;
        }

        .autumn-sale-product-list ._product-card .product-info .btn-group .button {
            width: calc(50% - 5px);
            height: 1.6493055556rem;
            font-size: 0.5425347222rem;
            border-radius: 1.4814814815vw;
        }
    }
    {% render 'ndev-page-wrap-style', info: ss, class: '.autumn-sale-product-list' %}
</style>
<section class="autumn-sale-product-list w-full">
    {%- if ss.show_heading -%}
        <div class="title tw-text-center tw-font-bold">{{ ss.heading }}</div>
    {%- endif -%}
    <div class="autumn-content w-full flex-center">
        <motion-list class="card-grid card-grid--3 desktop-done grid relative">
            {%- for block in section.blocks -%}
                {%- assign bs = block.settings -%}
                {%- assign variant = bs.product.selected_or_first_available_variant -%}
                <div class="_product-card flex-col tw-overflow-hidden">
                    <div class="product-cover tw-relative">
                        {%- if variant.compare_at_price > variant.price -%}
                            {%- assign diff = variant.compare_at_price | minus: variant.price -%}
                            <div class="tag-list flex-left">
                                <div class="tag tw-font-bold">Save {{ diff | money_without_trailing_zeros }}</div>
                            </div>
                        {%- endif -%}
                        {% render 'global-image', desktop_img: variant.featured_image, desktop_size: 650 %}
                    </div>
                    <div class="product-info">
                        <div class="product-name tw-font-bold">{{ bs.product.title }}</div>
                        {%- if product.metafields.reviews.rating.value != blank and product.metafields.reviews.rating_count.value > 0 -%}
                            {% liquid
                                assign rating_decimal = 0
                                assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                                if decimal >= 0.3 and decimal <= 0.7
                                    assign rating_decimal = 0.5
                                elsif decimal > 0.7
                                    assign rating_decimal = 1
                                endif
                            %}
                            <div class="product__rating flex items-center gap-2">
                                <div class="rating text-lg leading-none"
                                     role="img"
                                     aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: bs.product.metafields.reviews.rating.value, rating_max: bs.product.metafields.reviews.rating.value.scale_max }}">
                                    {%- render 'icon', icon: 'star', size: 'xs lg:hidden' -%}
                                    <span aria-hidden="true"
                                          class="rating-star hidden lg:bloc"
                                          style="--rating: {{ bs.product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ bs.product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                                    ></span>
                                </div>
                                <p class="rating-text text-sm leading-none">
                                    <span aria-hidden="true">{{ bs.product.metafields.reviews.rating.value }}</span>
                                </p>
                                <p class="rating-count text-sm leading-none hidden xl:block">
                                    <span aria-hidden="true">{{ 'general.accessibility.star_reviews_count' | t: count: bs.product.metafields.reviews.rating_count.value }}</span>
                                    <span class="sr-only">
                                        {{- bs.product.metafields.reviews.rating_count.value }}
                                        {{ 'general.accessibility.total_reviews' | t -}}
                                    </span>
                                </p>
                            </div>
                        {%- endif -%}
                        {%- assign specs = product.metafields.custom.specifications.value | default: false -%}
                        {%- if specs -%}
                            <ul class="text-items w-full flex-left">
                                {% for i in ( 0..specs.title_list.value.size) limit: 4 %}
                                    {% if specs.title_list.value[i] != blank %}
                                        <li class="text-item tw-relative">
                                            <div class="num tw-font-semibold">{{ specs.title_list.value[i] }}</div>
                                            <div class="text tw-font-semibold">{{ specs.content_list.value[i] }}</div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {%- endif -%}
                        <div class="price-box flex-left">
                            <div class="price tw-font-bold">{{ variant.price | money }}</div>
                            <div class="original-price">{{ variant.compare_at_price | money }}</div>
                        </div>
                        <div class="pay-discount flex-left">
                            {{ bs.payment_text }}
                            {%- for v in (1..3) -%}
                                {%- assign payment_icon = 'payment_icon' | append: v -%}
                                {%- if bs[payment_icon] != blank -%}
                                    {% render 'global-image', desktop_img: bs[payment_icon], desktop_size: 200, media_type: 'icon' %}
                                {%- endif -%}
                            {%- endfor -%}
                        </div>
                        <div class="btn-group flex-between">
                            <button onclick="$heybike.emit('{{ section.id }}-shop-popup', {{ forloop.index0 }})"
                                    class="button flex-center">{{ bs.button1 }}</button>
                            <a href="{{ bs.button2_url }}" target="_blank"
                               class="button more flex-center">{{ bs.button2 }}</a>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </motion-list>
        <slider-element class="grid slider mobile-done:grid slider--tablet" selector=".card-grid>.product-item">
            <motion-list class="card-grid mobile:card-grid--1 grid">
                {%- for block in section.blocks -%}
                    {%- assign bs = block.settings -%}
                    {%- assign variant = bs.product.selected_or_first_available_variant -%}
                    <div class="product-item card">
                        <div class="_product-card flex-col tw-overflow-hidden">
                            <div class="product-cover tw-relative">
                                {%- if variant.compare_at_price > variant.price -%}
                                    {%- assign diff = variant.compare_at_price | minus: variant.price -%}
                                    <div class="tag-list flex-left">
                                        <div class="tag tw-font-bold">
                                            Save {{ diff | money_without_trailing_zeros }}</div>
                                    </div>
                                {%- endif -%}
                                {% render 'global-image', desktop_img: variant.featured_image, desktop_size: 650 %}
                            </div>
                            <div class="product-info">
                                <div class="product-name tw-font-bold">{{ bs.product.title }}</div>
                                {%- if product.metafields.reviews.rating.value != blank and product.metafields.reviews.rating_count.value > 0 -%}
                                    {% liquid
                                        assign rating_decimal = 0
                                        assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
                                        if decimal >= 0.3 and decimal <= 0.7
                                            assign rating_decimal = 0.5
                                        elsif decimal > 0.7
                                            assign rating_decimal = 1
                                        endif
                                    %}
                                    <div class="product__rating flex items-center gap-2">
                                        <div class="rating text-lg leading-none"
                                             role="img"
                                             aria-label="{{ 'general.accessibility.star_reviews_info' | t: rating_value: bs.product.metafields.reviews.rating.value, rating_max: bs.product.metafields.reviews.rating.value.scale_max }}">
                                            {%- render 'icon', icon: 'star', size: 'xs lg:hidden' -%}
                                            <span aria-hidden="true"
                                                  class="rating-star hidden lg:bloc"
                                                  style="--rating: {{ bs.product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ bs.product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                                            ></span>
                                        </div>
                                        <p class="rating-text text-sm leading-none">
                                            <span aria-hidden="true">{{ bs.product.metafields.reviews.rating.value }}</span>
                                        </p>
                                        <p class="rating-count text-sm leading-none hidden xl:block">
                                            <span aria-hidden="true">{{ 'general.accessibility.star_reviews_count' | t: count: bs.product.metafields.reviews.rating_count.value }}</span>
                                            <span class="sr-only">
                                        {{- bs.product.metafields.reviews.rating_count.value }}
                                                {{ 'general.accessibility.total_reviews' | t -}}
                                    </span>
                                        </p>
                                    </div>
                                {%- endif -%}
                                {%- assign specs = product.metafields.custom.specifications.value | default: false -%}
                                {%- if specs -%}
                                    <ul class="text-items w-full flex-left">
                                        {% for i in ( 0..specs.title_list.value.size) limit: 4 %}
                                            {% if specs.title_list.value[i] != blank %}
                                                <li class="text-item tw-relative">
                                                    <div class="num tw-font-semibold">{{ specs.title_list.value[i] }}</div>
                                                    <div class="text tw-font-semibold">{{ specs.content_list.value[i] }}</div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {%- endif -%}
                                <div class="price-box flex-left">
                                    <div class="price tw-font-bold">{{ variant.price | money }}</div>
                                    <div class="original-price">{{ variant.compare_at_price | money }}</div>
                                </div>
                                <div class="pay-discount flex-left">
                                    {{ bs.payment_text }}
                                    {%- for v in (1..3) -%}
                                        {%- assign payment_icon = 'payment_icon' | append: v -%}
                                        {%- if bs[payment_icon] != blank -%}
                                            {% render 'global-image', desktop_img: bs[payment_icon], desktop_size: 200, media_type: 'icon' %}
                                        {%- endif -%}
                                    {%- endfor -%}
                                </div>
                                <div class="btn-group flex-between">
                                    <button onclick="$heybike.emit('{{ section.id }}-shop-popup', {{ forloop.index0 }})"
                                            class="button flex-center">{{ bs.button1 }}</button>
                                    <a href="{{ bs.button2_url }}" target="_blank"
                                       class="button more flex-center">{{ bs.button2 }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            </motion-list>
        </slider-element>
    </div>
</section>
{% render 'product-buy-popup' %}
{% schema %}
{
  "name": "Autumn Sale Product List",
  "class": "shopify-bike-main",
  "tag": "section",
  "presets": [
    {
      "name": "autumn-sale-product-list"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#f9f7f6"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Hot Picks That Riders Can’t Resist"
    }
  ],
  "blocks": [
    {
      "type": "product_item",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Buy Product"
        },
        {
          "type": "header",
          "content": "Payment method configuration"
        },
        {
          "type": "textarea",
          "id": "payment_text",
          "label": "payment Text",
          "default": "Pay over time with 0% interes"
        },
        {
          "type": "image_picker",
          "id": "payment_icon1",
          "label": "Payment Icon1"
        },
        {
          "type": "image_picker",
          "id": "payment_icon2",
          "label": "Payment Icon2"
        },
        {
          "type": "image_picker",
          "id": "payment_icon3",
          "label": "Payment Icon3"
        },
        {
          "type": "header",
          "content": "Button configuration"
        },
        {
          "type": "text",
          "id": "button1",
          "label": "Button1 Name",
          "default": "Shop Now"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Button2 Name",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button2_url",
          "label": "Button2 Url"
        }
      ]
    }
  ]
}
{% endschema %}
