{% assign ss = section.settings %}
<style>
    .autumn-sale-product-card {
        padding: 40px 0;
        background-color: #f9f7f6;
    }

    .autumn-sale-product-card .title {
        font-size: 36px;
        line-height: 1.2;
        color: #000000;
        padding-bottom: 45px;
    }

    .autumn-sale-product-card .autumn-content {
        max-width: 1376px;
        box-sizing: border-box;
        padding: 0 48px;
        margin: 0 auto;
    }

    .autumn-sale-product-card ._product-card {
        width: 100%;
        height: 591px;
        background-color: #ffffff;
        border-radius: 15px;
        margin-bottom: 48px;
    }

    .autumn-sale-product-card ._product-card .product-cover,
    .autumn-sale-product-card ._product-card .product-info {
        width: 50%;
    }

    .autumn-sale-product-card ._product-card .product-cover {
        height: 100%;
    }

    .autumn-sale-product-card ._product-card .product-cover .tag {
        font-size: 18px;
        color: #ffffff;
        line-height: 1;
        padding: 6px 20px;
        background: #ff981d;
        border-radius: 10px;
        position: absolute;
        top: 15px;
        left: 11px;
        z-index: 2;
    }

    .autumn-sale-product-card ._product-card .product-cover .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .autumn-sale-product-card ._product-card .item-icons {
        position: absolute;
        left: 0;
        bottom: 20px;
        box-sizing: border-box;
        padding: 0 12px;
    }

    .autumn-sale-product-card ._product-card .item-icons .item-icon {
        flex: 1;
    }

    .autumn-sale-product-card ._product-card .item-icons .item-icon.dark .text {
        color: #333333;
    }

    .autumn-sale-product-card ._product-card .item-icons .item-icon .image {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }

    .autumn-sale-product-card ._product-card .item-icons .item-icon .text {
        padding-top: 8px;
        font-weight: 300;
        font-size: 16px;
        color: #ffffff;
        line-height: 1.2;
    }

    .autumn-sale-product-card ._product-card .product-info {
        box-sizing: border-box;
        padding: 0 52px;
    }

    .autumn-sale-product-card ._product-card .product-info .product-name {
        font-size: 36px;
        color: #000000;
        line-height: 1.2;
    }

    .autumn-sale-product-card ._product-card .product-info .intro {
        line-height: 1.2;
        font-size: 18px;
        color: #666666;
        margin: 16px 0 34px;
    }

    .autumn-sale-product-card ._product-card .product-info .price-box {
        height: 40px;
    }

    .autumn-sale-product-card ._product-card .product-info .price-box .price {
        font-size: 36px;
        line-height: 1.1;
        color: #ff981d;
    }

    .autumn-sale-product-card ._product-card .product-info .price-box .original-price {
        font-size: 16px;
        color: #6c6c6c;
        text-decoration: line-through;
        padding-left: 11px;
    }

    .autumn-sale-product-card ._product-card .product-info .pay-discount {
        font-size: 16px;
        color: #6c6c6d;
        line-height: 27px;
        height: 27px;
    }

    .autumn-sale-product-card ._product-card .product-info .pay-discount .image {
        max-height: 100%;
        width: auto;
        object-fit: contain;
        margin-left: 16px;
    }

    .autumn-sale-product-card ._product-card .product-info .accessories-list {
        padding-top: 36px;
        gap: 14px 0;
        flex-wrap: wrap;
    }

    .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item {
        width: calc(50% - 8px);
        height: 66px;
        background-color: #f9f7f6;
        border-radius: 4px;
        border: solid 2px #e8e8e8;
        box-sizing: border-box;
        padding-left: 14px;
    }

    .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .image {
        max-height: 54px;
        width: auto;
        object-fit: contain;
        margin-right: 14px;
    }

    .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .name {
        color: #000000;
        font-size: 13px;
        line-height: 1.2;
        word-break: break-word;
    }

    .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .price {
        padding-top: 3px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
        line-height: 1.2;
    }

    .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .suffix {
        font-size: 16px;
        color: #ff981d;
        padding-left: 9px;
    }

    .autumn-sale-product-card ._product-card .product-info .remark {
        word-break: break-word;
        padding-top: 16px;
        line-height: 1.3;
        font-size: 16px;
        color: #666666;
    }

    .autumn-sale-product-card ._product-card .product-info .btn-group {
        padding-top: 36px;
    }

    .autumn-sale-product-card ._product-card .product-info .btn-group .button {
        padding: 0;
        width: calc(50% - 10px);
        height: 55px;
        font-size: 18px;
        color: #FFFFFF;
        transition: background 0.5s ease-in-out;
    }

    .autumn-sale-product-card ._product-card .product-info .btn-group .button:hover {
        background: #000000;
    }

    .autumn-sale-product-card ._product-card .product-info .btn-group .button.more {
        background: none;
        box-shadow: inset 0 0 0 1px #000000;
        color: #000000;
    }

    .autumn-sale-product-card ._product-card .product-info .btn-group .button.more:hover {
        background: #000000;
        color: #FFFFFF;
    }

    @media screen and (max-width: 1376px) {
        .autumn-sale-product-card .title {
            font-size: 30.6px;
            padding-bottom: 38.25px;
        }

        .autumn-sale-product-card .autumn-content {
            padding: 0 30.6px;
        }

        .autumn-sale-product-card ._product-card {
            height: 502.35px;
            border-radius: 12.75px;
            margin-bottom: 40px;
        }

        .autumn-sale-product-card ._product-card .product-cover .tag {
            font-size: 15.3px;
            padding: 5.1px 17px;
            border-radius: 8.5px;
            top: 12.75px;
            left: 9.35px;
        }

        .autumn-sale-product-card ._product-card .item-icons {
            bottom: 17px;
            padding: 0 10.2px;
        }

        .autumn-sale-product-card ._product-card .item-icons .item-icon .image {
            width: 38.25px;
            height: 38.25px;
        }

        .autumn-sale-product-card ._product-card .item-icons .item-icon .text {
            padding-top: 6.8px;
            font-size: 13.6px;
        }

        .autumn-sale-product-card ._product-card .product-info {
            padding: 0 2.7083333333vw;
        }

        .autumn-sale-product-card ._product-card .product-info .product-name {
            font-size: 30.6px;
        }

        .autumn-sale-product-card ._product-card .product-info .intro {
            font-size: 15.3px;
            margin: 13.6px 0 28.9px;
        }

        .autumn-sale-product-card ._product-card .product-info .price-box {
            height: 34px;
        }

        .autumn-sale-product-card ._product-card .product-info .price-box .price {
            font-size: 30.6px;
        }

        .autumn-sale-product-card ._product-card .product-info .price-box .original-price {
            font-size: 13.6px;
            padding-left: 9.35px;
        }

        .autumn-sale-product-card ._product-card .product-info .pay-discount {
            font-size: 13.6px;
            line-height: 22.95px;
            height: 22.95px;
        }

        .autumn-sale-product-card ._product-card .product-info .pay-discount .image {
            margin-left: 13.6px;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list {
            padding-top: 30.6px;
            gap: 11.9px 0;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item {
            height: 56.1px;
            border-radius: 3.4px;
            padding-left: 11.9px;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .image {
            max-height: 45.9px;
            margin-right: 11.9px;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .name {
            font-size: 12px;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .price {
            padding-top: 2.55px;
            font-size: 13.6px;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .suffix {
            font-size: 13.6px;
            padding-left: 7.65px;
        }

        .autumn-sale-product-card ._product-card .product-info .remark {
            padding-top: 13.6px;
            font-size: 13.6px;
        }

        .autumn-sale-product-card ._product-card .product-info .btn-group {
            padding-top: 30.6px;
        }

        .autumn-sale-product-card ._product-card .product-info .btn-group .button {
            height: 46.75px;
            font-size: 15.3px;
        }
    }

    @media screen and (max-width: 1023px) {
        .autumn-sale-product-card {
            padding: 0.6944444444rem 0;
        }

        .autumn-sale-product-card .title {
            font-size: 0.8680555556rem;
            padding-bottom: 1.0416666667rem;
        }

        .autumn-sale-product-card .autumn-content {
            max-width: 100%;
            box-sizing: border-box;
            padding: 0 3.7962962963vw;
        }

        .autumn-sale-product-card ._product-card {
            width: 100%;
            height: auto;
            border-radius: 0.6510416667rem;
            flex-direction: column;
            margin-bottom: 0.8680555556rem;
        }

        .autumn-sale-product-card ._product-card .product-cover,
        .autumn-sale-product-card ._product-card .product-info {
            width: 100%;
        }

        .autumn-sale-product-card ._product-card .product-cover {
            height: 100%;
        }

        .autumn-sale-product-card ._product-card .product-cover .tag {
            font-size: 0.6293402778rem;
            padding: 0.2170138889rem 0.7595486111rem;
            border-radius: 0.1736111111rem;
            top: 0.4991319444rem;
            left: 0.390625rem;
        }

        .autumn-sale-product-card ._product-card .product-cover > .image {
            height: 62.962962963vw;
        }

        .autumn-sale-product-card ._product-card .item-icons {
            position: absolute;
            left: 0;
            bottom: 0.6510416667rem;
            box-sizing: border-box;
            padding: 0 0.2604166667rem;
        }

        .autumn-sale-product-card ._product-card .item-icons .item-icon .image {
            width: 1.3020833333rem;
            height: 1.3020833333rem;
        }

        .autumn-sale-product-card ._product-card .item-icons .item-icon .text {
            padding-top: 0.3472222222rem;
            font-weight: 700;
            font-size: 0.4340277778rem;
        }

        .autumn-sale-product-card ._product-card .product-info {
            padding: 0.8680555556rem 1.0850694444rem 1.2803819444rem;
        }

        .autumn-sale-product-card ._product-card .product-info .product-name {
            font-size: 1.3020833333rem;
        }

        .autumn-sale-product-card ._product-card .product-info .intro {
            font-size: 0.6510416667rem;
            margin: 0.5425347222rem 0 1.1284722222rem;
        }

        .autumn-sale-product-card ._product-card .product-info .price-box {
            height: 1.4322916667rem;
        }

        .autumn-sale-product-card ._product-card .product-info .price-box .price {
            font-size: 1.3020833333rem;
        }

        .autumn-sale-product-card ._product-card .product-info .price-box .original-price {
            font-size: 0.5859375rem;
            padding-left: 0.4123263889rem;
        }

        .autumn-sale-product-card ._product-card .product-info .pay-discount {
            font-size: 0.5642361111rem;
            line-height: 0.9982638889rem;
            height: 0.9982638889rem;
        }

        .autumn-sale-product-card ._product-card .product-info .pay-discount .image {
            margin-left: 0.6944444444rem;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list {
            padding-top: 1.3020833333rem;
            gap: 0.4774305556rem 0;
            flex-wrap: wrap;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item {
            width: calc(50% - 3px);
            height: 2.4305555556rem;
            border-radius: 0.0868055556rem;
            border: solid 1px #e8e8e8;
            padding-left: 0.4774305556rem;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .image {
            max-height: 1.9748263889rem;
            margin-right: 0.4340277778rem;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .name {
            font-size: 0.4774305556rem;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .price {
            padding-top: 0.0651041667rem;
            font-size: 0.5859375rem;
        }

        .autumn-sale-product-card ._product-card .product-info .accessories-list .accessories-item .suffix {
            font-size: 0.5859375rem;
            padding-left: 0.1953125rem;
        }

        .autumn-sale-product-card ._product-card .product-info .remark {
            padding-top: 0.5208333333rem;
            font-size: 0.5642361111rem;
            line-height: 1.6;
        }

        .autumn-sale-product-card ._product-card .product-info .btn-group {
            padding-top: 1.3020833333rem;
        }

        .autumn-sale-product-card ._product-card .product-info .btn-group .button {
            width: calc(50% - 5px);
            height: 1.9748263889rem;
            font-size: 0.6510416667rem;
            border-radius: 0.4774305556rem;
        }
    }

    {% render 'ndev-page-wrap-style', info: ss, class: '.autumn-sale-product-card' %}
</style>
<section class="autumn-sale-product-card w-full">
    {%- if ss.show_heading -%}
        <div class="title tw-text-center tw-text-base tw-font-bold">{{ ss.heading }}</div>
    {%- endif -%}
    <div class="autumn-content w-full">
        {%- for block in section.blocks -%}
            {%- assign bs = block.settings -%}
            {%- assign variant = bs.product.selected_or_first_available_variant -%}
            <div class="_product-card flex-between tw-overflow-hidden">
                <div class="product-cover tw-relative">
                    {%- if variant.compare_at_price > variant.price -%}
                        {%- assign diff = variant.compare_at_price | minus: variant.price -%}
                        <div class="tag tw-font-bold">Save {{ diff | money_without_trailing_zeros }}</div>
                    {%- endif -%}
                    {%- if bs.pc_product_image != blank -%}
                        {% render 'global-image',
                                desktop_img: bs.pc_product_image,
                                desktop_size: 650,
                                mobile_img: bs.mb_product_image,
                                mobile_size: 650
                        %}
                    {%- else -%}
                        {% render 'global-image', desktop_img: variant.featured_image, desktop_size: 650 %}
                    {%- endif -%}
                    {%- if bs.show_spec -%}
                        {%- assign specs = bs.product.metafields.custom.specifications.value | default: false -%}
                        {%- if specs -%}
                            <ul class="item-icons w-full flex-center">
                                {% for i in ( 0..specs.title_list.value.size) limit: 4 %}
                                    {% if specs.title_list.value[i] != blank %}
                                        <li class="item-icon {{ bs.spec_text_color }} tw-text-center flex-center-col">
                                            {% for url in specs.icon_list.value %}
                                                {% assign i_2 = forloop.index | minus: 1 %}
                                                {% if i_2 == i and url != blank %}
                                                    {{- url | image_url: width: url.width | image_tag: loading: 'lazy', class: 'image' -}}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="text">
                                                {{ specs.title_list.value[i] }}<br>
                                                {{ specs.content_list.value[i] }}
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {%- endif -%}
                    {%- endif -%}
                </div>
                <div class="product-info">
                    <div class="product-name tw-font-bold">{{ bs.product.title }}</div>
                    <div class="intro tw-line-clamp-2">
                        {{ bs.product.metafields.custom.short_title.value }}
                    </div>
                    <div class="price-box flex-left">
                        <div class="price tw-font-black" style="color: {{ bs.product_price_color }}">{{ variant.price | money }}</div>
                        <div class="original-price">{{ variant.compare_at_price | money }}</div>
                    </div>
                    <div class="pay-discount flex-left">
                        {{ bs.payment_text }}
                        {%- for v in (1..3) -%}
                            {%- assign payment_icon = 'payment_icon' | append: v -%}
                            {%- if bs[payment_icon] != blank -%}
                                {% render 'global-image', desktop_img: bs[payment_icon], desktop_size: 200, media_type: 'icon' %}
                            {%- endif -%}
                        {%- endfor -%}
                    </div>
                    {%- if bs.gift_list != blank -%}
                        <ul class="accessories-list flex-between">
                            {% for pr in bs.gift_list %}
                                <li class="accessories-item flex-left">
                                    {{ pr.featured_image | image_url: width: '50' | image_tag: width: '50', class: 'image' }}
                                    <div class="info">
                                        <div class="name tw-line-clamp-2">{{ pr.title }}</div>
                                        <div class="price flex-left">
                                            {{ pr.price | money }}
                                            <span class="suffix tw-font-bold">FREE</span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {%- endif -%}
                    <div class="remark">
                        {{ bs.remark }}
                    </div>
                    <div class="btn-group flex-between">
                        <button class="button flex-center"
                                style="--color-button-gradient: {{ bs.button1_bg_color }}; --color-button-background: {{ bs.button1_bg_color.rgb }};color: {{ bs.button1_text_color }};"
                                onclick="$heybike.emit('{{ section.id }}-shop-popup', {{ forloop.index0 }})">{{ bs.button1 }}</button>
                        <a href="{{ bs.button2_url }}" target="_blank"
                           class="button more flex-center">{{ bs.button2 }}</a>
                    </div>
                </div>
            </div>
        {%- endfor -%}
    </div>
</section>
{% render 'product-buy-popup' %}
{% schema %}
{
  "name": "Autumn Sale Product Card",
  "class": "shopify-bike-main",
  "tag": "section",
  "presets": [
    {
      "name": "autumn-sale-product-card"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#f9f7f6"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "checkbox",
      "id": "show_heading",
      "label": "Show Title",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Title",
      "default": "Top Picks for Every Rider"
    }
  ],
  "blocks": [
    {
      "type": "product_item",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Buy Product"
        },
        {
          "type": "color",
          "id": "product_price_color",
          "label": "Product price color",
          "default": "#ff981d"
        },
        {
          "label": "Desktop product image",
          "type": "image_picker",
          "id": "pc_product_image"
        },
        {
          "label": "Mobile product image",
          "type": "image_picker",
          "id": "mb_product_image"
        },
        {
          "label": "Show specification",
          "type": "checkbox",
          "id": "show_spec",
          "default": true
        },
        {
          "type": "radio",
          "id": "spec_text_color",
          "label": "Specification Text Color",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ],
          "default": "light"
        },
        {
          "type": "header",
          "content": "Payment method configuration"
        },
        {
          "type": "textarea",
          "id": "payment_text",
          "label": "payment Text",
          "default": "Pay over time with 0% interes"
        },
        {
          "type": "image_picker",
          "id": "payment_icon1",
          "label": "Payment Icon1"
        },
        {
          "type": "image_picker",
          "id": "payment_icon2",
          "label": "Payment Icon2"
        },
        {
          "type": "image_picker",
          "id": "payment_icon3",
          "label": "Payment Icon3"
        },
        {
          "type": "header",
          "content": "Bundled Sale configuration"
        },
        {
          "type": "product_list",
          "id": "gift_list",
          "label": "Product list (FREE)"
        },
        {
          "type": "textarea",
          "id": "remark",
          "label": "Remark",
          "default": "Now,as part of the Pre-Order, we are offering free Fender Set and a Rear Rack, a total value of $515."
        },
        {
          "type": "header",
          "content": "Button configuration"
        },
        {
          "type": "text",
          "id": "button1",
          "label": "Button1 Name",
          "default": "Shop Now"
        },
        {
          "type": "color",
          "id": "button1_text_color",
          "label": "Button1 text color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button1_bg_color",
          "label": "Button1 background color",
          "default": "#FFDB00"
        },
        {
          "type": "text",
          "id": "button2",
          "label": "Button2 Name",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "button2_url",
          "label": "Button2 Url"
        }
      ]
    }
  ]
}
{% endschema %}
